.header_custom table thead > tr > th {
background-color: #dfd720 !important;
color: #d92645 !important;
text-align: left !important;
}

.header_custom table thead > tr > th:nth-child(2) {
width: 350px !important;
}